/*
*************
Reset Default
*************
*/

@import url(reset.css);

/*
**************
Design System
**************
*/

/* Tipography */

h1 {}

h2 {}

h3 {
    font-size: 14px;
    font-weight: 700;
    color: var(--text);
}

h4 {}

h5 {}

h6 {}

/* Color */
:root {
    --side-bar: #000000;
    --player: #282828;
    --bg: #141921;
    --text: #ffffff;
    --text--alt: #7D7F84;
    --active-color: #C1EA83;
    --grey-icon: #808080;
}

/* Common */

body {
    background-color: var(--bg);
    color: var(--text);
    height: 100vh;
    font-family: "Montserrat", sans-serif;
}

/*
--------------
Sidebar
--------------
*/

/* Container */

#sidebar {
    background-color: var(--side-bar);
    color: var(--text--alt);
    width: 50px;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-align: center;
    padding: 5px 0 10px;
}

/* Logo */

.brand {}

.logo--small {
    width: 28px;
    margin-bottom: 4px;
}

.logo {
    width: 132px;
    margin-bottom: 24px;
    display: none;
}

/* Menu */

.menu {
    margin-bottom: 22px;
}

.menu__item {
    padding: 6px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

#home {}

#search {}

#library {}

.menu__item img {
    width: 22px;
}

.menu__item span {
    font-size: 12px;
    font-weight: 600;
    display: none;
}

/* Playlist */

.playlist {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    display: none;
}

.playlist h3 {
    margin-bottom: 15px;
}

.playlist--new {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 16px;
}

.playlist--new i {
    font-size: 20px;
    color: var(--grey-icon);
}

.playlist--new span {
    font-size: 16px;
    font-weight: 400;
}

.playlist--list {
    overflow-y: auto;
}

.playlist--list li {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
}

/* Account */

.account {
    margin-top: auto;
}

.account span {
    display: none;
}

.account__download {
    display: flex;
    align-items: center;
    gap: 4px;
    padding-left: 4px;
}

.account__download img {
    width: 12px;
}

.account__download span {
    font-size: 12px;
    font-weight: 400;
}

.account hr {
    border: 0.1px solid var(--grey-icon);
    margin: 8px 0;
    display: none;
}

.account__profile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.account__profile__photo {
    background-color: var(--grey-icon);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    overflow: hidden;
    padding: 3px;

}

.account__profile__photo img {
    width: 100%;
    height: 100%;
    display: block;
}

.account__profile span {
    font-size: 14px;
    font-weight: 600;
    color: var(--text);
}

/*
--------------
Player
--------------
*/

.player {
    background-color: var(--player);
    width: 100%;
    height: 90px;
}

/*
--------------
Main
--------------
*/


/*
**************
Responsive
**************
*/

/* Small */
@media screen and (min-width: 576px) {

    /* Sidebar */

    #sidebar {
        width: 230px;
        text-align: left;
        padding: 20px 20px 10px;
    }

    /* Brand */

    .logo--small {
        display: none;
    }

    .logo {
        display: block;
    }

    /* Menu */

    .menu {
        margin-left: -20px;
    }

    .menu__item {
        justify-content: left;
        padding-left: 18px;
        border-left: 3px solid var(--side-bar);
    }

    .menu__item.active {
        border-left: 3px solid var(--active-color);
        color: var(--text);
    }

    .menu__item span {
        display: inline-block;
    }

    /* Playlist */

    .playlist {
        display: flex;
    }

    /* Account */

    .account__profile {
        justify-content: left;
    }

    .account hr {
        display: block;
    }

    .account span {
        display: inline;
    }
}

/* Medium */
@media screen and (min-width: 768px) {}

/* Large */
@media screen and (min-width: 992px) {}

/* Extra Large */
@media screen and (min-width: 1200px) {}