/*
*************
Reset Default
*************
*/

@import url(reset.css);

/*
**************
Design System
**************
*/

/* Tipography */

h1 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 8px;
}

h2 {
    font-size: 15px;
    font-weight: 700;
    color: var(--text);
    margin-bottom: 5px;
}

h3 {
    font-size: 12px;
    font-weight: 600;
    color: var(--text--alt);
}

h4 {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

h5 {}

h6 {}

/* Color */
:root {
    --side-bar: #000000;
    --player: #282828;
    --bg: #141921;
    --text: #ffffff;
    --text--alt: #7D7F84;
    --active-color: #C1EA83;
    --grey-icon: #808080;
}

/* Button */

button {
    font-size: 12px;
    font-weight: 700;
    padding: 13px 24px;
    border: 1px solid var(--text);
    color: var(--text);
    border-radius: 50px;
    background-color: transparent;
    text-transform: uppercase;
}

/* Common */

body {
    background-color: var(--bg);
    color: var(--text);
    height: 100vh;
    font-family: "Montserrat", sans-serif;
}

/*
--------------
Sidebar
--------------
*/

/* Container */

#sidebar {
    background-color: var(--side-bar);
    color: var(--text--alt);
    width: 50px;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-align: center;
    padding: 5px 0 10px;
    flex-shrink: 0;
}

/* Logo */

.brand {}

.logo--small {
    width: 28px;
    margin-bottom: 4px;
}

.logo {
    width: 132px;
    margin-bottom: 24px;
    display: none;
}

/* Menu */

.menu {
    margin-bottom: 22px;
}

.menu__item {
    padding: 6px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

#home {}

#search {}

#library {}

.menu__item img {
    width: 22px;
}

.menu__item span {
    font-size: 12px;
    font-weight: 600;
    display: none;
}

/* Playlist */

.playlist {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    display: none;
}

.playlist h4 {
    margin-bottom: 15px;
}

.playlist--new {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 16px;
}

.playlist--new i {
    font-size: 20px;
    color: var(--grey-icon);
}

.playlist--new span {
    font-size: 16px;
    font-weight: 400;
}

.playlist--list {
    overflow-y: auto;
}

.playlist--list li {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
}

/* Account */

.account {
    margin-top: auto;
}

.account span {
    display: none;
}

.account__download {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    margin-bottom: 14px;
}

.account__download img {
    width: 14px;
}

.account__download span {
    font-size: 12px;
    font-weight: 400;
}

.account hr {
    border: 0.1px solid var(--grey-icon);
    margin: 8px 0;
    display: none;
}

.account__profile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.account__profile__photo {
    background-color: var(--grey-icon);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    overflow: hidden;
    padding: 3px;

}

.account__profile__photo img {
    width: 100%;
    height: 100%;
    display: block;
}

.account__profile span {
    font-size: 14px;
    font-weight: 600;
    color: var(--text);
}

/*
--------------
Player
--------------
*/

/* Container */

.player {
    background-color: var(--player);
    width: 100%;
    height: 90px;
    display: flex;
    padding: 0 10px;
}

.player__info {
    width: 30%;
    display: flex;
    align-items: center;
}

.player__control {
    width: 40%;
}

.player__functions {
    width: 30%;
}

/* Player Info */

.player__info__song {
    display: flex;
    align-items: center;
    gap: 10px;
}

.player__info__song__cover {
    width: 42px;
    height: 42px;
    flex-shrink: 0;
}

.player__info__song__cover img {
    width: 100%;
    height: 100%;
}

.player__info__song h5 {
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 2px;
}

.player__info__song h6 {
    font-size: 11px;
    font-weight: 500;
    color: var(--text--alt);
}

.player__info__tag {
    margin-left: 10%;
}

.player__info__tag i {
    color: var(--grey-icon);
    margin-left: 8px;
}

/* Player Timeline */

.player__control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.player__control__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.player__control__icon i.big {
    font-size: 30px;
    margin: 0 6px;
}

.player__control__timeline {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    padding: 0 15px;
}

.player__control__timeline span {
    font-size: 12px;
    font-weight: 600;
}

.timeline {
    flex-grow: 1;
    height: 4px;
    border-radius: 4px;
    background-color: var(--grey-icon);
}

.time--full {
    width: 0%;
    height: 4px;
    border-radius: 4px;
    background-color: var(--text);
    position: relative;
}

.time--full.animation {
    animation: time 275s linear;
}

@keyframes time {
    0% {
        width: 0%;
    }

    100% {
        width: 50%;
    }
}

.timeline:hover .time--control {
    width: 10px;
    height: 10px;
    background-color: var(--active-color);
    border-radius: 50%;
    position: relative;
    left: 0;
}

/* Controlli Volume */

.player__functions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.player__functions__icon i {
    margin-right: 6px;
}

.player__functions .timeline {
    max-width: 118px;
}

.player__functions .timeline .time--full {
    width: 20%;
}

/*
--------------
Main
--------------
*/

.top-container {
    display: flex;
    height: calc(100% - 90px);
    width: 100%;
}

main {
    width: 100%;
    overflow-y: scroll;
    padding: 90px 20px 20px;
}

/* Top Header */

.top-header {
    height: 90px;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: right;
    line-height: 90px;
    padding-right: 28px;
    position: fixed;
    top: 0;
    right: 0;
    left: 50px;
}

/* Category Menu */

.category {
    text-align: center;
    margin: 20px 0 40px;
}

.category ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.category li h4 {
    color: var(--text--alt);
    font-weight: 600;
}

.category--active {
    width: 30px;
    height: 2px;
    background-color: var(--active-color);
    margin: 5px auto;
}

/* Card Common */

.card-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.card {
    width: calc(100% / 2 - 15px);
    margin-right: 15px;
    margin-bottom: 40px;
    text-align: center;
}

.card__image {
    margin-bottom: 10px;
    position: relative;
}

.cover--layover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    opacity: 0;
    background-color: #00000080;
    transition: opacity 0.2s ease-in;
}

.card__image:hover .cover--layover {
    opacity: 100;
}

.card__image img {
    width: 100%;
    display: block;
}

.card__image--artist {
    border-radius: 50%;
    overflow: hidden;
}

/*
**************
Responsive
**************
*/

/* Small */
@media screen and (min-width: 576px) {

    /* Sidebar */

    #sidebar {
        width: 230px;
        text-align: left;
        padding: 20px 20px 10px;
    }

    /* Brand */

    .logo--small {
        display: none;
    }

    .logo {
        display: block;
    }

    /* Menu */

    .menu {
        margin-left: -20px;
    }

    .menu__item {
        justify-content: left;
        padding-left: 18px;
        border-left: 3px solid var(--side-bar);
    }

    .menu__item.active {
        border-left: 3px solid var(--active-color);
        color: var(--text);
    }

    .menu__item span {
        display: inline-block;
    }

    /* Playlist */

    .playlist {
        display: flex;
    }

    /* Account */

    .account__profile {
        justify-content: left;
    }

    .account__download {
        justify-content: left;
        padding-left: 4px;
        margin-bottom: 0;
    }

    .account hr {
        display: block;
    }

    .account span {
        display: inline;
    }

    /* Top Header */

    .top-header {
        left: 230px;
    }

}

/* Medium */
@media screen and (min-width: 768px) {

    /* Card Common */
    .card {
        width: calc(100% / 3 - 15px);
    }
}

/* Large */
@media screen and (min-width: 992px) {

    /* Card Common */
    .card {
        width: calc(100% / 4 - 15px);
    }
}

/* Extra Large */
@media screen and (min-width: 1200px) {

    /* Card Common */
    .card {
        width: calc(100% / 6 - 15px);
    }
}